/* General Settings */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    line-height: 2em;
}

:root {
    --color0: #A8A8A8;
    --color1: #DBDBDB;
    --color2: #1F4666;
    --color3: #0062B3;
}

.general-content {
    display: flex;
    flex-flow: row nowrap;
}

/*  Menu */

#navbar {
    background-color: var(--color0);
    border-right: 2px solid var(--color2);
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
}

#navbar ul {
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
}

#nav-title {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 1em;
    color: var(--color2);
}

#navbar li {
    padding: 1em;
    border-top: 2px solid var(--color2);
}

.nav-link {
    color: #000;
    font-weight: 600;
}

.nav-link:visited {
    color: var(--color3);
}

/* Documentation */

#main-doc {
    background-color: var(--color1);
    width: 75%;
    margin-left: 25%;
    padding: 2em;
}

.main-section  ul {
    padding: 0 3em;
}

.main-section > p {
    margin: 1em 0;
    text-align: justify;
}

.header-doc {
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1em;
    color: var(--color2);
}

code {
    color: #af0101;
    background-color: var(--color0);
    border-radius: 3px;
    font-family: monospace;
    padding: 0 2em;
}

/*  Media Query */

@media (max-width: 800px) {
    .general-content {
        display: flex;
        flex-flow: column nowrap;
    }

    #navbar {
        width: 100%;
        height: 40%;
    }

    #navbar ul {
        height: 65%;
    }

    #main-doc {
        width: 100%;
        margin: 65% 0 0 0;
        box-sizing: border-box;
    }
}

@media (min-width: 1250px) {
    #navbar {
        width: 20%;
        
    }

    #main-doc {
        width: 80%;
        margin-left: 20%;
    }
}